body {
    font-family: 'Metal Mania', cursive;
    color: white;
    display: flex;
    justify-content: center;
    background-color: black;
}

h1 {
    font-size: 60px;
    background:rgba(0,0,0,0.5);
}

h2 {
    font-size: 40px;
    background:rgba(0,0,0,0.5);
}

h3 {
    font-size: 30px;
    background:rgba(0,0,0,0.5);
}

#main {
    background-image: url("images/wackenfest.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    min-height: 850px;
}

.card {
    background:rgba(0,0,0,0.3);
    border: 4px solid white;
    border-radius: 5px;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    /* transition: color 0.02s, border-color 0.02s; */
    width: 120px;
    cursor: pointer;
}

.card:hover {
    color:#808080;
    border-color: #808080; /* add this as an event listener later */
}

.click {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

.last-round {
    margin-bottom: -30px;
}

.scoreboard {
    justify-content: space-between;
    width: 400px;
    font-size: 1.75rem;
}

.choices,
.play-report,
.scoreboard {
    display: flex;
}

.toggle {
    display: none; /*shows actual play field once begin button is pressed*/
}